

<!-- # when displaying puppy - need the key attributes from the class / model
       models/puppy.rb -->
<body>

    <p> Puppy Name: <%= @name %> </p>
    <p> Puppy Breed: <%= @breed %> </p>
    <p> Puppy Age: <%= @age %> </p>

    <a href="/">  << GO  BACK TO THE HOMEPAGE FAM</a>


</body>
